@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

:root {
  --clr-primary-400: hsl(4, 100%, 67%);
  --clr-primary-500: hsl(346, 100%, 66%);
  --clr-neutral-900: hsl(234, 29%, 20%);
  --clr-neutral-800: hsl(235, 18%, 26%);
  --clr-neutral-400: hsl(231, 7%, 60%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Roboto", sans-serif;

  --fs-800: 3.5rem;
  --fs-700: 2.5rem;
  --fs-500: 1rem;
  --fs-300: 0.75rem;

  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

button,
input {
  font: inherit;
}

body {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-900);
  font-family: var(--ff-primary);
  font-size: var(--fs-500);

  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-radius: 2.25rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.card h2 {
  margin: 0;
  font-weight: var(--fw-bold);
  font-size: var(--fs-800);
  line-height: 1;
}

.card.form-card {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 930px;
}

.form-card form {
  display: grid;
  align-content: center;
  padding-inline: 2.5rem 4rem;
}

.form-card ul {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  list-style: none;
}

.form-card ul > li {
  line-height: 2;
  position: relative;
  padding-left: 2.25rem;
}

.form-card ul > li::before {
  --_icon-size: 1.25rem;
  content: "";
  position: absolute;
  width: var(--_icon-size);
  aspect-ratio: 1;
  top: 5px;
  left: 0;
  background-image: url("./assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-size: var(--_icon-size);
}

.form-card label {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

.form-card input {
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-neutral-400);
}

button {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-image: linear-gradient(
    to left,
    var(--clr-primary-400),
    var(--clr-primary-500)
  );
}

button:hover::after {
  opacity: 1;
  transition: opacity 200ms;
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 0 10px 40px -8px var(--clr-primary-400);
  opacity: 0;
}

.illustration-mobile {
  display: none;
}

@media (width < 930px) {
  .illustration-mobile {
    display: block;
  }

  .illustration-desktop {
    display: none;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0;
  }

  .card.form-card {
    grid-template-columns: 1fr;
  }

  .form-card img {
    grid-row: 1;
    width: 100%;
  }

  .form-card form {
    padding: clamp(0.1rem, 2.5vw, 1rem) 1.5rem 2.5rem;
  }

  .card h2 {
    font-size: var(--fs-700);
  }
}

.card.success-card {
  display: none;
}

.card.success-card {
  max-width: 500px;
  padding: 3rem 4rem 4rem;
  place-content: center;
  gap: 1rem;
}

.success-card img {
  margin-bottom: 2rem;
}

@media (width < 930px) {
  .card.success-card {
    max-width: 100%;
    padding: 1.5rem;
  }

  .success-card button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% - 1.5rem - 1.5rem);
    margin: 3rem 1.5rem;
  }
}
